{{> header}}
 <main>
        <div class="biblio-mini">

            <div class="mini-contenedor-img">
                <img src="images/pablo_picasso.jpg" alt="Pablo Picasso">
            </div>

            <div class="text">
                <h2>Pablo Picasso (25 de octubre de 1881, 8 de abril de 1973)</h2>
                <p> Es considerado desde la génesis del siglo XX como uno de los mayores pintores que participaron en
                    muchos
                    movimientos artísticos que se propagaron por el mundo y ejercieron una gran influencia en otros
                    grandes
                    artistas de su tiempo. Sus trabajos están presentes en museos y colecciones de toda Europa y del
                    mundo.
                    Además, abordó otros géneros como el dibujo, el grabado, la ilustración de libros, la escultura, la
                    cerámica y el diseño de escenografía y vestuario para montajes teatrales. También tiene una breve
                    obra
                    literaria.
                </p>

                <span class="ver-mas">
                    <a href="/Pablo_Picasso">Ver más</a>
                </span>
            </div>
        </div>

        <div class="biblio-mini">
            <div class="mini-contenedor-img">
                <img src="images/vanGogh.jpg" alt="Van Gogh">
            </div>

            <div class="text">
                <h2>Van Gogh ( 30 de marzo de 1853, 29 de julio de 1890) </h2>
                <p>Pintó unos 900 cuadros (entre ellos 43 autorretratos y 148 acuarelas) y realizó más de 1600 dibujos.
                    Una figura central en su vida fue su hermano menor Theo, marchante de arte en París, quien le prestó
                    apoyo financiero de manera continua y desinteresada. La gran amistad entre ellos está documentada en
                    las numerosas cartas que se intercambiaron desde agosto de 1872. De las 800 cartas que se conservan
                    del pintor, unas 650 fueron para Theo; las otras son correspondencia con amigos y familiares.</p>

                <span class="ver-mas">
                    <a href="vanGogh.html">Ver más</a>
                </span>
            </div>
        </div>

        <div class="biblio-mini">
            <div class="mini-contenedor-img">
                <img src="images/diegoRivera.jpg" alt="Van Gogh">
            </div>
            <div class="text">
                <h2>Diego Rivera (8 de diciembre de 1886, 24 de noviembre de 1957) </h2>
                <p>Su padre fue Diego Rivera Acosta y su madre María del Pilar Barrientos. Nació el 8 de diciembre de
                    1886 en la ciudad de Guanajuato. Al año y medio de haber nacido; murió su hermano gemelo Carlos
                    María, mientras Diego, que padecía raquitismo y tenía una constitución muy débil, se mantuvo con
                    vida.​ Diego fue registrado bajo el nombre de Diego María Rivera, y fue bautizado como Diego
                    Martín de la Concepción Juan Nepomuceno Estanislao de Rivera y Barrientos Acosta y Rodríguez. En
                    contra de los deseos de su padre, que prefería que ingresarse en el Colegio Militar, a partir de
                    1896 comenzó a tomar clases nocturnas en la Academia de San Carlos de la capital mexicana, donde
                    conoció al célebre paisajista José María Velasco.. </p>
                <span class="ver-mas">
                    <a href="/Diego_Rivera">Ver más</a>
                </span>
            </div>
        </div>

        <div class="biblio-mini">
            <div class="mini-contenedor-img">
                <img src="images/leonardo.jpg" alt="Leonardo">
            </div>
            <div class="text">
                <h2>Leonardo da Vinci (15 de abril de 14522​, 2 de mayo de 1519) </h2>
                <p>fue un polímata florentino del Renacimiento italiano. Fue a la vez pintor, anatomista, arquitecto,
                    paleontólogo, artista, botánico, científico, escritor, escultor, filósofo, ingeniero, inventor,
                    músico, poeta y urbanista. Murió acompañado de Francesco Melzi,​ a quien legó sus proyectos,
                    diseños y pinturas. Tras pasar su infancia en su ciudad natal, Leonardo estudió con el pintor
                    florentino Andrea de Verrocchio. Sus primeros trabajos de importancia fueron creados en Milán al
                    servicio del duque Ludovico Sforza. Trabajó a continuación en Roma, Bolonia y Venecia, y pasó sus
                    últimos años en Francia, por invitación del rey Francisco I. </p>
                <span class="ver-mas">
                    <a href="/Leonardo_da_Vinci">Ver más</a>
                </span>
            </div>
        </div>

        <div class="biblio-mini">
            <div class="mini-contenedor-img">
                <img src="images/velazquez.jpg" alt="Van Gogh">
            </div>
            <div class="text">
                <h2>Diego Velázquez (6 de junio de 15991​-Madrid, 6 de agosto de 1660) </h2>
                <p> fue un pintor barroco español considerado uno de los máximos exponentes de la pintura española y
                    maestro de la pintura universal.</p>

                    <p> Pasó sus primeros años en Sevilla, donde desarrolló un estilo naturalista de iluminación tenebrista,
                    por influencia de Caravaggio y sus seguidores. A los 24 años se trasladó a Madrid, donde fue
                    nombrado pintor del rey Felipe IV y cuatro años después fue ascendido a pintor de cámara, el cargo
                    más importante entre los pintores de la corte. A esta labor dedicó el resto de su vida. Su trabajo
                    consistía en pintar retratos del rey y de su familia, así como otros cuadros destinados a decorar
                    las mansiones reales. Su presencia en la corte le permitió estudiar la colección real de pintura
                    que, junto con las enseñanzas de su primer viaje a Italia, donde conoció tanto la pintura antigua
                    como la que se hacía en su tiempo, fueron influencias determinantes para evolucionar a un estilo de
                    gran luminosidad, con pinceladas rápidas y sueltas. En su madurez, a partir de 1631, pintó de esta
                    forma grandes obras como La rendición de Breda. </p>
                <span class="ver-mas">
                    <a href="/Diego_Velazquez">Ver más</a>
                </span>
            </div>
        </div>

    </main>